@import url(./__button/popup__button.css);
@import url(./__header/popup__header.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);
@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);
@import url(./_closed/popup_closed.css);
@import url(./_opened/popup_opened.css);
@import url(./_opened-image/popup_opened.css);
@import url(./__container-image/popup__container-image.css);
@import url(./__image/popup__image.css);
@import url(./__sign/popup__sign.css);
@import url(./_hide/popup_hide.css);
@import url(./__button/_inactive/button_inactive.css);
@import url(./__span-error/popup__span-error.css);
@import url(./__label-inp/popup__label-inp.css);
@import url(./_input-error/popup_input-error.css);
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}