@import url(./__copyright/footer__copyright.css);
.footer {
    max-width: 882px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 60px;
}

@media screen and (max-width: 340px) {
    .footer {
        margin-top: 28px;
        margin-bottom: 36px;
        margin-left: 19px;
    }
}