.popup__close {
    width: 50px;
    height: 50px;
    background-image: url(../../../images/close.svg);
    background-color: rgba(0, 0, 0, 0);
    margin-top: 135px;
    transition: opacity 0.5s ease-in-out;
    border: 0;
}

.popup__close:hover,
.popup__close:active,
.popup__close:focus {
    opacity: 0.6;
    cursor: pointer;
    outline: none !important;
}

@media screen and (max-width: 550px) {
    .popup__close {
        width: 30px;
        height: 30px;
        margin-top: 150px;
        background-image: url(../../../images/closem.svg);
    }
}