.popup__span-error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    border: 0;
    margin-left: 36px;
    margin-right: 36px;
    height: 15px;
}

@media screen and (max-width: 550px) {
    .popup__input-error {
        margin-left: auto;
        margin-right: auto;
    }
}