.popup__container {
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    /*margin-top: 170px;*/
    /* margin-left: 50px;*/
}

@media screen and (max-width: 550px) {
    .popup__container {
        width: 275px;
        height: 330px;
        /*     margin-left: 30px;*/
    }
}