.profile__editButton{
    width: 24px;
    height: 24px;
    background-image: url(../../../images/EditButton.svg);
    background-color: black;
    margin-left: 17px;
    border: 0;
}


.profile__editButton:hover{
    opacity: 0.6;
}


.profile__editButton:active{
    opacity: 0.6;
}