.profile__editButton {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/pai.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    margin-left: 17px;
    border: 1px solid #FFFFFF;
    transition: opacity 0.3s ease-in-out;
}

.profile__editButton:hover,
.profile__editButton:active,
.profile__editButton:focus {
    opacity: 0.6;
    outline: none !important;
    cursor: pointer;
}